Flask==3.0.3
Flask-SQLAlchemy==3.1.1
greenlet==3.0.3
psycopg2-binary==2.9.6
SQLAlchemy==2.0.30
Werkzeug==3.0.3
Jinja2==3.1.4
MarkupSafe==2.1.5
itsdangerous==2.2.0
click==8.1.7
blinker==1.8.2
certifi==2023.7.22
charset-normalizer==3.2.0
idna==3.4
requests==2.31.0
urllib3==2.0.4
typing_extensions==4.10.0
colorama==0.4.6
